Django
djangorestframework
django-cors-headers
djangorestframework_simplejwt

langchain==1.2.15
langchain-openai

openai
requests

python-dotenv
psycopg2-binary
gunicorn
whitenoise
dj-database-url

stripe

google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos

cryptography